<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Hermes</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>aphrodite</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>aphrodite</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>ares</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>ares</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>blackonwhite</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>blackonwhite</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>classic</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>classic</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>coral</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>coral</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>forest</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>forest</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>happy</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>happy</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>inverted</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>inverted</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>iris</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>iris</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>modernclassic</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>modernclassic</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>outrun</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>outrun</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>poseidon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>poseidon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>whiteonblack</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>whiteonblack</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
		<key>UINewsstandIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string></string>
			</array>
			<key>UINewsstandBindingEdge</key>
			<string>UINewsstandBindingEdgeLeft</string>
			<key>UINewsstandBindingType</key>
			<string>UINewsstandBindingTypeMagazine</string>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.5.7</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.cline.hermes.extensionredirect</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>hermes</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.cline.hermes.signinredirect</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.60942394550-auudr87489l2052ktetai16lr99p0n33</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>0627</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>SFCompactDisplay-Heavy.otf</string>
		<string>SFCompactDisplay-LIght.otf</string>
		<string>SFCompactDisplay-Semibold.otf</string>
		<string>SFCompactDisplay-Medium.otf</string>
		<string>SFCompactDisplay-Black.otf</string>
		<string>SFCompactDisplay-Regular.otf</string>
		<string>SFCompactDisplay-Bold.otf</string>
		<string>SFCompactDisplay-Ultralight.otf</string>
		<string>SFCompactDisplay-Thin.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
